h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
body{}
.topbar{
    display: inline-flex;
    width: 100%;
    height: 60px;
}
.logo{
    width: 100px;
    height: 55px;
    background: #dfffad;
    border-radius: 30px;
}

.logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}

.logo img{
    width: 100%;
    height: 100%;
}
.manubar{}
.manubar nav{}
.manubar nav ul{}
.manubar nav ul li{ 
    display: inline;
    padding: 8px;
}

.manubar nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    background: #2700a1fc;
    color: white;
    border-radius: 6px;
    padding: 5px;
}

.manubar nav ul li a:hover{
    box-shadow: 2px 2px 20px #d3c5c5, -2px -2px 20px #ddc8c8; 
    background: #10110f;
    font-size: 19px;
    padding: 4px;
}

.home{
    margin-left: 445px;
}
.banner{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    border-radius: 10px;
    padding-top: 50px;
    animation: ban infinite 10s;
}
@keyframes ban{
    0%{
        background: url(../Images/011.jpg);
        background-size: 100% 100%;
    }
    100%{
        background: url(../Images/laptop.jpg);
        background-size: 100% 100%;
    }
}


.content{
    width: 400px;
    height: 260px;
    background: #f5f5f524;
    padding: 13px;
    margin-left: 50px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black, -1px -1px 10px black;
    margin-top: 40px;
}
.content:hover{
    width: 400px;
    height: 260px;
    background: #f5f5f524;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px black, -2px -2px 5px black;
}

.content h1{
    text-align: center;
    color: purple;
    font-size: 33px;
    font-family: 'Fasthand', cursive;
    margin-top: 20px;
}
.content p{
    text-align: justify;
    font-size: 17px;
    font-family: 'Bitter', serif;
    color: #4c0808;
    margin-top: 21px;
    padding-bottom: 0px;
    word-spacing: 1px;

}
.content button{
    color: #1766ab;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    padding: 4px;
    margin-top: 33px;
    background: #48ed0382;
    border-radius: 15px;
    margin-left: 135px;
    border: none;
    box-shadow: 2px 2px 7px black;
}
.bestproduct{
    width: 100%;
    height: 400px;
    background: linear-gradient( #5f9d8e45, #67c7c2a8,#60541461);
    display: inline-flex;
    padding-top: 50px;
}
.bproduct{
    width: 430px;
    height: 330px;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px black;
}
.bproduct img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.bproduct img:hover{
    width: 102%;
    height: 102%;
    border-radius: 15px;
    box-shadow: 2px 2px 15px black;
}
.bpcontent{
    width: 430px;
    height: 330px;
    margin-left: 50px;
    border-left: 2px solid black;
    padding: 10px;
}
.bpcontent p{
    font-size: 18px;
    text-align: justify;
    font-family: 'Bitter', serif;
    padding-left: 35px;
    padding-bottom: 15px;
    word-spacing: 2px;

}
.bpcontent button{
    color: #1766ab;
    font-size: 23px;
    padding: 5px;
    font-family: 'Merriweather', serif;
    background: #82e95682;
    border-radius: 14px;
    margin-left: 130px;
    border: none;
    box-shadow: 2px 2px 7px black;
}

.bpcontent button:hover{
    color: #1766ab;
    font-size: 22px;
    padding: 6px;
    background: #82e95682;
    border-radius: 15px;
    margin-left: 130px;
    border: none;
    box-shadow: 2px 2px 7px rgb(46, 34, 34);
}
.product{
    display: inline-flex;
    width: 100%;
    height: 450px;
    background: linear-gradient(#b6bfaf, #ffd46b, #e2acacbf);
    padding-top: 40px;
}

.pone{
    width: 230px;
    height: 400px;
    margin-right: 15px;
    background: #75778069;
    border-radius: 10px;
    box-shadow: 1px 1px 15px black;
}

.pone:hover{
    width: 231px;
    height: 401px;
    margin-right: 13px;
    background: #75778069;
    border-radius: 10px;
    box-shadow: 1px 1px 18px black;
}

.ponef{
    margin-left: 15px;
}

.pone img{
    width: 100%;
    height: 160px;
    border-radius: 10px;

}
.pone h1{
    text-align: center;
    color: #480990;
    padding: 10px;
    font-family: 'Fasthand', cursive;
    margin-bottom: -20px;
}

.pone p{
    text-align: justify;
    font-size: 16px;
    font-family: 'Bitter', serif;
    padding: 14px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.pone button{
    width: 105px;
    font-size: 18px;
    font-family: 'Merriweather', serif;  
    text-transform: uppercase;
    border: none;
    padding: 8px;
    background: #2c00a4ba;
    color: white;
    margin-left: 66px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}
.CustomarRivew{
    width: 100%;
    height: 400px;
    background:transparent;
    margin-top: -16px;
    display: inline-flex;
    animation: anim infinite 20s;
}

@keyframes anim{
    0%{
        background:url(../Images/015.jpg);
        background-size: 100% 100%;
        
    }
    20%{
        background:url(../Images/016.jpg);
        background-size: 100% 100%;
        
    }
    40%{
        background: url(../Images/017.jpg);
        background-size: 100% 100%;
        
    }
    60%{
        background: url(../Images/018.webp);
        background-size: 100% 100%;
        
    }
    80%{
        background:url(../Images/025.jpg);
        background-size: 100% 100%;
        
    }
    100%{
        background: url(../Images/026.jpg);
        background-size: 100% 100%;
        
    }
}

h1{
    text-align: center;
}
.reviwone{
    width: 400px;
    height: 150px;
    margin-left: 43px;
    padding: 14px;
    background: #ffffff;
    margin-top: 111px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.reviwone:hover{
    width: 402px;
    height: 152px;
    margin-left: 42px;
    padding: 15px;
    background: #ffffff;
    margin-top: 110px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
.reviwone p{
    text-align: justify;
    font-size: 18px;
    color: #48064d;
    font-family: 'Bitter', serif;
}
.reviwone h2{
    margin-top: 25px;
    text-align: right;
    font-family: 'Fasthand', cursive;
}
.teammember{
    width: 100%;
    height: 436px;
    display: inline-flex;
    background: url(../Images/laptop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.tone{
    width: 230px;
    height: 400px;
    background: #f4f4f49c;
    margin-right: 15px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 15px black;}

.tone:hover{
    width: 230px;
    height: 400px;
    margin-right: 15px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 10px black;
    transform: rotate(3deg);
    transition: 1s;
    
}

.toneone{
    margin-left: 12px;
}
.tone img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 39px;
    margin-top: 15px;

}

.tone img:hover{
    transform: rotate(360deg);
    transition: 1s;

}
.tone h2{
    text-align: center;
    color: #9b1d1d;
    margin-top: 8px;
    margin-bottom: -9px;
    font-family: 'Playball', cursive;
    
}
.tone p{
    padding: 15px;
    text-align: justify;
    word-spacing: 0px;
    color: #000000;
    padding-top: -3px;
    padding-bottom: 9px;
    font-size: 16px;
    font-family: 'Bitter', serif;
    margin-bottom: 7px;

}
.tone button{
    width: 105px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    font-family: 'Merriweather', serif;
    padding: 8px;
    background: #6830ffed;
    color: white;
    margin-left: 66px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}
.Contactus{
    width: 100%;
    height: 290px;
    background: url(../Images/laptop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 80px;
}
.CForm{
    width: 440px;
    height: 180px;
    background: #f5f5f536;
    padding: 15px;
    border-radius: 20px;
    margin-left: 245px;
    box-shadow: 2px 2px 10px black;
}

.CForm:hover{
    width: 442px;
    height: 182px;
    background: #f0f0f0bf;
    padding: 15px;
    border-radius: 20px;
    margin-left: 245px;
    box-shadow: 2px 2px 10px black;
}
.CForm input{
    background: transparent;
    width: 390px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
.CForm input:hover{
    background: transparent;
    width: 390px;
    padding: 9px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline:none;
}
.CForm p{
    text-align: center;
    padding: 20px;
    font-size: 20px
}
.CForm p button{
    width: 108px;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    padding: 8px;
    background: #ff4600;
    color: white;
    margin-left: 25px;
    border-radius: 20px;
    margin-right: 25px;
    box-shadow: 1px 1px 5px black;
    font-family: 'Merriweather', serif;
    
}

.map{
    width: 100%;
    height: 350px;
    display: inline-flex;
    background: linear-gradient(#f8fff3, #d0f6a2fc, #ffb1b1bf);
    padding-top: 14px;
    padding-bottom: 16px;
}

.mapone{
    width: 450px;
    height: 350px;
    margin-left: 12px;
}

.mapone iframe{
    width: 100%;
    height: 100%;
}

.mapyoutube{
    margin-left: 62px;
    width: 450px;
    height: 350px;

}

.mapyoutube iframe{
    width: 100%;
    height: 100%;
}



.footer{
    width: 100%;
    height: 60px;
    background: url(../Images/80qW.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 1px;
}
.footer p{
    text-align: center;
    color: #5300ce;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-top: 18px;
    font-family: 'Playball', cursive;

}
.footer p a{
    color: #1766ab;
    text-decoration: none;
}


